<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./nav.ejs') %>
    
    <form  class="addpost" action="/addpost" method="post">

        <div>
            <label for="">name</label>
            <input type="text" name="user" >
        </div>
        <div>
            <label for="">xomment</label>
            <input type="text" name="comment" >
        </div>
        <button type="submit">submit</button>
    </form>
</body>
</html>